# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#arquivos gerados pelo Emacs
*.*~
*~
\#*

#Diretórios diversos
PadraoDocumentacao/
html/
latex/

#Arquivos específicos
mensagemCommit

#arquivos gerados pelo Doxygen
*.bak

#arquivos gerados pelo Dia
*.autosave

#executável
lz5